{
  "swagger": "2.0",
  "info": {
    "description": "This is REST API for a technical PoC for SKAT Ligning. ",
    "version": "1.0.0",
    "title": "SKAT Ligning PoC",
    "contact": {
      "email": "steffen.lang@ufst.dk"
    }
  },
  "host": "wordapi.westeurope.azurecontainer.io",
  "basePath": "/api",
  "tags": [
    {
      "name": "genbrug",
      "description": "Genbrug contains text snippets that can be reused across word documents."
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/genbrug": {
      "post": {
        "tags": [
          "genbrug"
        ],
        "summary": "Add a new text snippet to the database",
        "description": "",
        "operationId": "",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Text snippets that needs to be added to the database",
            "required": true,
            "schema": {
              "$ref": "#/definitions/genbrug"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "405": {
            "description": "Invalid input"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "get": {
        "tags": [
          "genbrug"
        ],
        "summary": "Returns text snippet from database",
        "description": "Returns text snippet from database",
        "operationId": "",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/genbrug"
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/document": {
      "post": {
        "tags": [
          "document"
        ],
        "summary": "Upload and retrieve documents",
        "description": "",
        "operationId": "",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "documentFile",
            "type": "file",
            "description": "File to be uploaded"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/document/{documentFileName}": {
      "get": {
        "tags": [
          "document"
        ],
        "summary": "Retrieves document",
        "description": "Retrieves document from API",
        "operationId": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "documentFileName"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "definitions": {
    "genbrug": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        }
      },
      "xml": {
        "name": "genbrug"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}